{% extends 'base.html' %}

{% block body %}
<p>
    I am a programmer with a passion for learning, improving and finding better solutions. 
    My journey with programming started last year after enrolling with the SDA (Software Development Academy). During my first course I learnt Python programming and studied the theory around database technology both frontend and backend. Having completed this course I enrolled in a second and I am currently studying Cyber Security.
    Before I started programming I worked as a Sound Engineer and DJ, music is another significant part of my life which allows me to express my creativity. I have organized and performed at many live events. During this time I also worked in music studio. Additionally I like to keep fit by training
    Muay Thai.
</p>
{% endblock  %}