{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
   <h2>My Books</h2>


    <form method='GET'>
        {{filter.form}}
        <input type='submit'/>
    </form>


    <div>
        <table>
            <thead>
                <tr>
                    <th>#</th>
                    <th>Cover</th>
                    <th>Title</th>
                    <th>Author/s</th>
                    <th>Published Date</th>
                    <th>ISBN</th>
                    <th>Print Length</th>
                    <th>Language</th>
                    <th>Update</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for book in filter.qs %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    {% if book.cover %}
                        <td><a href="{{book.cover}}"><img src="{{book.cover}}" alt="No Photo" width="130" height="200" /></td>
                    {% else %}
                        <td><img src="https://thumbs.dreamstime.com/b/no-image-available-icon-photo-camera-flat-vector-illustration-132483141.jpg" alt="No Photo" width="130" height="200" /></td>
                    {% endif %}
                    <td><a href="{% url 'book' pk=book.pk %}"> {{book.title}}</a></td>
                    <td>{{book.author}}</td>
                    <td>{{book.published_date}}</td>
                    <td>{{book.isbn}}</td>
                    <td>{{book.print_length}}p.</td>
                    <td>{{book.language}}</td>
                    <td><a href="{% url 'update-book' pk=book.pk %}">Update</a></td>
                    <td><a href="{% url 'delete-book' pk=book.pk %}">Delete</a></td>
                <tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{% url 'add-book' %}">Add Book</a>
        <a href="{% url 'import-book' %}">import Book</a>
    </div>
{% endblock %}